.App {
    display:flex;
    margin: 40px;
    min-height: calc(100v - 80px);
    list-style: none;
}

.left {
    background-color: darkslategray;
    color: azure;
  }
  
.right{
    background-color: wheat;
    color: firebrick;
  }

  